
.card-container {
  display: flex;              /*Use Flexbox for a flexible layout */
  justify-content: center;   /*Center the cards horizontally within the container */
  gap: 50px;                 /*Create a 50px space between each card*/
  flex-wrap: wrap;         /* Allow the cards to wrap onto multiple lines if necessary */
} 

.card {
  box-shadow: 0 4px 8px 0 rgba(21, 19, 19, 0.2);
  width: 300px;
  text-align: center;
  font-family: arial;
  border: 2px solid #5ea457;
  border-radius: 5px;          
  padding: 10px; 
}

.card-img{
  width: 100%;
  height: auto;
}

.card-addon{
  box-shadow: 0 4px 8px 0 rgba(21, 19, 19, 0.2);
  width: auto;
  border: 2px solid #5ea457;
  border-radius: 5px;          
  padding: 10px; 
}

.price {
  color: rgb(36, 156, 72);
  font-size: 22px;
}
